{% extends 'base.html' %}
{% block content %}
<style>
     #dbtn{
          width: 180px;
     }
</style>
<h2>Deposite Amount</h2>
<form action="" method="POST">
     {% csrf_token %}

     <input type="number" name="acc" id="" placeholder="Enter Account number"> <br><br>
     
     <input type="password" name="pin" id="" maxlength="4" placeholder="Enter Pin"> <br><br>
     
     <input type="number" name="amt" id="" placeholder="Enter Amount"> <br><br>
     <button id="dbtn" type="submit">Deposite</button>
</form>
<p style="color: red;">{{msg}}</p>
{% endblock %}